#user-account {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
  
    #change-username,
    #change-password,
    #logout,
    #delete-account {
      background-color: #4CAF50;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin: 10px;
      display: flex;
  
      &:hover {
        background-color: #3e8e41;
      }
  
      &#logout {
        background-color: rgb(40, 97, 42);
  
        &:hover {
          background-color: rgb(25, 61, 26);
        }
      }
  
      &#delete-account {
        background-color: rgb(151, 25, 25);
  
        &:hover {
          background-color: rgb(122, 20, 20);
        }
      }
    }
  }